@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  .left {
    flex: 1;
    overflow: hidden;

    img {
      max-width: 500px;
      margin: auto;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 400px;
        height: 40px;
        font-size: 18px;
        padding-left: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        margin: 10px 0;

        @include mobile {
          width: 230px;
          height: 40px;
        }
      }

      textarea {
        width: 400px;
        outline: none;
        height: 200px;
        font-size: 16px;
        padding-left: 4px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 10px 0;
        @include mobile {
          width: 230px;
          height: 150px;
        }
      }

      button {
        width: 150px;
        height: 40px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          opacity: .7;
          cursor: not-allowed;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}